{{!-- <div id="home">
  <div class="container">

<div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Tracking <br>Sidebar</h3>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="/" aria-expanded="false" class="dropdown-toggle">Home</a>
                </li>
                <br>
                <li class="active">
                    <a href="/mood" aria-expanded="false" class="dropdown-toggle">Mood</a>
                </li>
                <br>
                <li class="active">
                    <a href="/coffee" aria-expanded="false" class="dropdown-toggle">Coffee</a>
                </li>
                <br>
                <li class="active">
                    <a href="/drinks" aria-expanded="false" class="dropdown-toggle">Drinks</a>
                </li>
            </ul>
            </div>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            
                                <a class="nav-link" href="#" id="login">Log In</a>
          
                        </ul>
                    </div>
                </div>
            </nav>
            
            <h2>Charts</h2>

  <script>

    $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
        $(this).toggleClass('active');
      });
    });

  </script>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="bigIcon">Track Items</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="mood">Mood</i></a></li>
      <li><a class="btn-floating white"><i class="coffee">Coffee</i></a></li>
      <li><a class="btn-floating green"><i class="drinks">Drinks</i></a></li>
      <li><a class="btn-floating blue"><i class="sleep">Sleep</i></a></li>
    </ul>
  </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, {
      direction: 'top'
    });
  });
</script>
 --}}
