<div class="container">
  <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Tracking <br>Sidebar</h3>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="/" aria-expanded="false" class="dropdown-toggle">Home</a>
                </li>
                <br>
                <li class="active">
                    <a href="/coffee" aria-expanded="false" class="dropdown-toggle">Coffee</a>
                </li>
                <br>
                <li class="active">
                    <a href="/drinks"  aria-expanded="false" class="dropdown-toggle">Drinks</a>
                </li>
                <br>
                <li class="active">
                    <a href="/exercise" aria-expanded="false" class="dropdown-toggle">Exercise</a>
                </li>
                <br>
                <li class="active">
                    <a href="/sleep" aria-expanded="false" class="dropdown-toggle">Sleep</a>
                </li>
                <br>
                <li class="active">
                    <a href="/screen" aria-expanded="false" class="dropdown-toggle">Screen</a>
                </li>
                <br>
            </ul>
            </div>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="navbar-btn">  {{!-- KEEP! --}}
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            
                                <a class="nav-link" href="#" id="login">Log In</a>
          
                        </ul>
                    </div>
                </div>
            </nav>
            
        <div><h3>Coffee Intake:</h3></div>
        <div id="chart_div" style="width: 400px; height: 500px;"></div>
          <br>
        <div><h4><i>Maybe use handlebars to write a code block that adds "this weeks" and "last weeks" columns together. </i></h4></div>
        <div><h4><i>This weeks intake: "This weeks calculated( X cups)"
                                       "Caffine consumed ( X cups * 95mgs)"
        </i></h4></div>

        <div><h4><i>This weeks intake: "Last weeks calculated( X cups)"
                                       "Caffine consumed ( X cups * 95mgs)"
        </i></h4></div>

        <p>How are we going to input data?</p>

  {{!-- Sidebar --}}
  <script>
    $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
        $(this).toggleClass('active');
      });
    });
  </script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../public/js/index.js"></script>

<!--Script for google charts-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, {
      direction: 'top'
    });
  });

  //Google Charts
   google.charts.load('current', {'packages':['corechart', 'scatter']});
      google.charts.setOnLoadCallback(drawStuff);

      function drawStuff() {

        var button = document.getElementById('change-chart');
        var chartDiv = document.getElementById('chart_div');

        var data = new google.visualization.DataTable();
        data.addColumn('string', '');
        data.addColumn('number', 'This week');
        data.addColumn('number', 'Last week');

        data.addRows([
          ['Monday', 6, 7],
          ['Tuesday', 3, 5],
          ['Wednesday', 2, 3],
          ['Thursday', 2, 2],
          ['Friday', 4, 2],
          ['Saturday', 2, 1],
          ['Sunday', 1, 2]
        ]);

        var materialOptions = {
          chart: {
           // title: 'Coffee Intake',
            // subtitle: 'based on hours studied'
          },
          width: 650,
          height: 500,
          series: {
            0: {axis: 'hours studied'},
            1: {axis: 'final grade'}
          },
          axes: {
            y: {
              'hours studied': {label: 'Cups'},
              //'right title': {label: 'Final Exam Grade'}
            }
          }
        };

        var classicOptions = {
          width: 650,
          series: {
            0: {targetAxisIndex: 0},
            1: {targetAxisIndex: 1}
          },
          title: 'Students\' Final Grades - based on hours studied',

          vAxes: {
            // Adds titles to each axis.
            0: {title: 'Hours Studied'},
            1: {title: 'Final Exam Grade'}
          }
        };

        function drawMaterialChart() {
          var materialChart = new google.charts.Scatter(chartDiv);
          materialChart.draw(data, google.charts.Scatter.convertOptions(materialOptions));
          button.innerText = 'Change to Classic';
          button.onclick = drawClassicChart;
        }

        function drawClassicChart() {
          var classicChart = new google.visualization.ScatterChart(chartDiv);
          classicChart.draw(data, classicOptions);
          button.innerText = 'Change to Material';
          button.onclick = drawMaterialChart;
        }

        drawMaterialChart();
    };
</script>
</div>
