<div class="container">
  <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Tracking <br>Sidebar</h3>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="/" aria-expanded="false" class="dropdown-toggle">Home</a>
                </li>
                <br>
                <li class="active">
                <a href="/mood" aria-expanded="false" class="dropdown-toggle">Mood</a>
                </li>
                <br>
                <li class="active">
                    <a href="/coffee" aria-expanded="false" class="dropdown-toggle">Coffee</a>
                </li>
                <br>
                <li class="active">
                    <a href="/drinks"  aria-expanded="false" class="dropdown-toggle">Drinks</a>
                </li>
                <br>
                <li class="active">
                    <a href="/exercise" aria-expanded="false" class="dropdown-toggle">Exercise</a>
                </li>
                <br>
                <li class="active">
                    <a href="/sleep" aria-expanded="false" class="dropdown-toggle">Sleep</a>
                </li>
                <br>
                <li class="active">
                    <a href="/screen" aria-expanded="false" class="dropdown-toggle">Screen</a>
                </li>
                <br>
            </ul>
            </div>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="navbar-btn">  {{!-- KEEP! --}}
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            
                                <a class="nav-link" href="#" id="login">Log In</a>
          
                        </ul>
                    </div>
                </div>
            </nav>
            
        <div><h3>Coffee Intake:</h3></div>
        <div id="chart_div" style="width: 400px; height: 500px;"></div>
          <br>
        

  {{!-- Sidebar --}}
  <script>
    $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
        $(this).toggleClass('active');
      });
    });
  </script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../public/js/index.js"></script>

<!--Script for google charts-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
var coffeedata;
          var output = $.get("/api/tracker/", function (data) {
                  coffeedata=data;
              });

  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, {
      direction: 'top'
    });
  });

  //Google Charts
   google.charts.load('current', {'packages':['corechart', 'scatter']});
      google.charts.setOnLoadCallback(drawStuff);

      function drawStuff() {

        var button = document.getElementById('change-chart');
        var chartDiv = document.getElementById('chart_div');

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Date');
        data.addColumn('number', 'Values');
        //data.addColumn('number', 'Last week');
        var coffee_arr;
        var coffee_length;
        var date_extract;
        coffee_length = Object.keys(coffeedata).length;
        for (i=0;i<coffee_length;i++)
        {
            date_extract= coffeedata[i].createdAt.toString();
            date_extract = date_extract.substring(0,10);
            if(String(coffee_arr)!= "undefined")
            {
              //coffee_arr = coffee_arr + "['" + date_extract + "'," + coffeedata[i].caffeine + "],";
              coffee_arr = coffee_arr  + date_extract + "," + coffeedata[i].caffeine + ",";
            }
            if(String(coffee_arr) == "undefined")
            {
              //coffee_arr = "['" + date_extract + "'," + coffeedata[i].caffeine + "],";
              coffee_arr = date_extract + "," + coffeedata[i].caffeine + ",";
            }
        }
        coffee_arr = coffee_arr.substring(0, coffee_arr.length -1);
        var newarray = coffee_arr.split(',');

        var newdata = new Array;
        for (j=0;j<newarray.length;j++)
        {
           tempString = "'" + newarray[j] + "'";
           newdata[j] = tempString;
           j=j+1;
           newdata[j] = newarray[j];
           //console.log(tempString);
        }
        var temp1,temp2;
        for (j=0;j<newdata.length;j++)
        {
            temp1 = newdata[j].toString();
            j=j+1;
            temp2 = parseInt(newdata[j]);
            data.addRow([
              temp1,temp2
            ]);

        }

        var materialOptions = {
          chart: {
           // title: 'Coffee Intake',
            // subtitle: 'based on hours studied'
          },
          width: 650,
          height: 500,
          series: {
            0: {axis: 'hours studied'},
            1: {axis: 'final grade'}
          },
          axes: {
            y: {
              'hours studied': {label: 'Cups'},
              //'right title': {label: 'Final Exam Grade'}
            }
          }
        };

        var classicOptions = {
          width: 650,
          series: {
            0: {targetAxisIndex: 0},
            1: {targetAxisIndex: 1}
          },
          title: 'Students\' Final Grades - based on hours studied',

          vAxes: {
            // Adds titles to each axis.
            0: {title: 'Hours Studied'},
            1: {title: 'Final Exam Grade'}
          }
        };

        function drawMaterialChart() {
          var materialChart = new google.charts.Scatter(chartDiv);
          materialChart.draw(data, google.charts.Scatter.convertOptions(materialOptions));
          button.innerText = 'Change to Classic';
          button.onclick = drawClassicChart;
        }

        function drawClassicChart() {
          var classicChart = new google.visualization.ScatterChart(chartDiv);
          classicChart.draw(data, classicOptions);
          button.innerText = 'Change to Material';
          button.onclick = drawMaterialChart;
        }

        drawMaterialChart();
    };
</script>
</div>
