<div id="home">
  <div class="container">
    <h2>This is our Home Page!</h2>
    <!-- Just an image -->
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large red">
        <i class="large material-icons">Track Items</i>
      </a>
      <ul>
        <li><a class="btn-floating red"><i class="material-icons">Mood</i></a></li>
        <li><a class="btn-floating yellow darken-1"><i class="material-icons">Coffee</i></a></li>
        <li><a class="btn-floating green"><i class="material-icons">Drinks</i></a></li>
        <li><a class="btn-floating blue"><i class="material-icons">Other</i></a></li>
      </ul>
    </div>

    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{message}}</h1>
        <div class="piechart">
        </div>

        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
              placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description"
              placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, {
      direction: 'top'
    });
  });
</script>