<div class="container">
  <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Tracking <br>Sidebar</h3>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="/" aria-expanded="false" class="dropdown-toggle">Home</a>
                </li>
                <br>
                <li class="active">
                <a href="/mood" aria-expanded="false" class="dropdown-toggle">Mood</a>
                </li>
                <br>
                <li class="active">
                    <a href="/coffee" aria-expanded="false" class="dropdown-toggle">Coffee</a>
                </li>
                <br>
                <li class="active">
                    <a href="/drinks"  aria-expanded="false" class="dropdown-toggle">Drinks</a>
                </li>
                <br>
                <li class="active">
                    <a href="/exercise" aria-expanded="false" class="dropdown-toggle">Exercise</a>
                </li>
                <br>
                <li class="active">
                    <a href="/sleep" aria-expanded="false" class="dropdown-toggle">Sleep</a>
                </li>
                <br>
                <li class="active">
                    <a href="/screen" aria-expanded="false" class="dropdown-toggle">Screen</a>
                </li>
                <br>
            </ul>
            </div>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            
                                <a class="nav-link" href="#" id="login">Log In</a>
          
                        </ul>
                    </div>
                </div>
            </nav>
          <div><h3>Screen Time:</h3></div>
        <div id="chart_div" style="width: 900px; height: 700px;"></div>          
       
  {{!-- Sidebar --}}
  <script>
    $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
        $(this).toggleClass('active');
      });
    });
  </script>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../public/js/index.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

  var screendata;
          var output = $.get("/api/tracker/", function (data) {
                  screendata=data;
              });

  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, {
      direction: 'top'
    });
  });


<!--Script for google charts-->


        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
  
        function drawChart() {
            var button = document.getElementById('change-chart');
            var chartDiv = document.getElementById('chart_div');

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Date');
            data.addColumn('number', 'Values');
            //data.addColumn('number', 'Last week');
            var screen_arr;
            var screen_length;
            var date_extract;
            screen_length = Object.keys(screendata).length;
            for (i=0;i<screen_length;i++)
            {
                date_extract= screendata[i].createdAt.toString();
                date_extract = date_extract.substring(0,10);
                if(String(screen_arr)!= "undefined")
                {
                  //screen_arr = screen_arr + "['" + date_extract + "'," + screendata[i].screen + "],";
                  screen_arr = screen_arr  + date_extract + "," + screendata[i].screen + ",";
                }
                if(String(screen_arr) == "undefined")
                {
                  //screen_arr = "['" + date_extract + "'," + screendata[i].screen + "],";
                  screen_arr = date_extract + "," + screendata[i].screen + ",";
                }
            }
            screen_arr = screen_arr.substring(0, screen_arr.length -1);
            var newarray = screen_arr.split(',');

            var newdata = new Array;
            for (j=0;j<newarray.length;j++)
            {
              tempString = "'" + newarray[j] + "'";
              newdata[j] = tempString;
              j=j+1;
              newdata[j] = newarray[j];
              //console.log(tempString);
            }
            var temp1,temp2;
            for (j=0;j<newdata.length;j++)
            {
                temp1 = newdata[j].toString();
                j=j+1;
                temp2 = parseInt(newdata[j]);
                data.addRow([
                  temp1,temp2
                ]);

            }
  
          var options = {
            title: 'Your Weekly Screen Time',
            curveType: 'function',
            legend: { position: 'bottom' } //"position:" can be changed to none, bottom, top, left, right to create legend
          };
  
          var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
  
          chart.draw(data, options);
        }
  </script>
