<div id="home">
  <div class="container">

<div class="wrapper">
        {{!-- Sidebar Holder --}}
       <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Tracking <br>Sidebar</h3>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="/" aria-expanded="false" class="dropdown-toggle">Mood</a>
                </li>
                <br>
                <li class="active">
                    <a href="/coffee" aria-expanded="false" class="dropdown-toggle">Coffee</a>
                </li>
                <br>
                <li class="active">
                    <a href="/drinks"  aria-expanded="false" class="dropdown-toggle">Drinks</a>
                </li>
                <br>
                <li class="active">
                    <a href="/exercise" aria-expanded="false" class="dropdown-toggle">Exercise</a>
                </li>
                <br>
                <li class="active">
                    <a href="/sleep" aria-expanded="false" class="dropdown-toggle">Sleep</a>
                </li>
                <br>
                <li class="active">
                    <a href="/screen" aria-expanded="false" class="dropdown-toggle">Screen</a>
                </li>
                <br>
            </ul>
            </div>
        </nav>

        {{!-- Page Content Holder --}}
        <div id="content">

        {{!-- NavBar --}}
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            
          {{!--Google Chart and body context --}}
          <br>
            <center><div><h3>Screen Time:</h3></div></center>
              <br>
            <center><div id="curve_chart" style="width: 800px; height: 500px"></div></center>
              <br>
            <div><center><h4><i>This weeks screentime: "data"</i></h4></center></div>
     </div>
    </div>
  </div>
</div>

  {{!-- Sidebar JS script--}}
  <script>
    $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
        $(this).toggleClass('active');
      });
    });
  </script>

{{!--Google Charts Scirpt--}}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{{!-- Jquery --}}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!-- Index JS --}}
  <script src="../public/js/index.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.fixed-action-btn');
      var instances = M.FloatingActionButton.init(elems, {
        direction: 'top'
      });
    });
  </script>

  {{!-- Google Chart --}}
  <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
  
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
            ['Days'     , 'This Week',      'Last Week'],
            ['Monday'   ,  1,                      1],
            ['Tuesday'  ,  2,                      2],
            ['Wedneday' ,  7,                      4],
            ['Thursday' ,  5,                      5],
            ['Friday'   ,  6,                      6],
            ['Saturday' ,  10,                     8],
            ['Sunday'   ,  5,                      1]
          ]);
  
          var options = {
            title: 'Your Weekly Screen Time',
            curveType: 'function',
            legend: { position: 'bottom' } //"position:" can be changed to none, bottom, top, left, right to create legend
          };
  
          var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
  
          chart.draw(data, options);
        }
  </script>
