
{{!-- sign in card --}}
<div style="height: 80vh">
    <div class="container" style="position: absolute; top: 5%; margin-left: auto; margin-right: auto; left: 0; right: 0; z-index: 1;">
        <div class="row">
            <div class="col s12 m6 l6 xl5">
                <div class="card orange lighten-2 z-depth-3">
                    <div class="card-content white-text">
                        <span class="card-title">Welcome to Pixel+</span>
                        <p class="white-text">Track all the aspects of your lifestyle in one place. See how they come together to affect your mood.</p>
                    </div>

                    <form action="" method="POST">
                        <div class="card-action">
                            <label for="email" class="white-text">Email</label>
                            <input class="white-text" type="email" name="email">

                            <label for="password" class="white-text">Password</label>
                            <input type="password" class="white-text" name="password">

                            <button class="btn waves-effect waves-light indigo lighten-1" type="submit" name="action">
                                Login <i class="material-icons">send</i>
                            </button>
                        </div>
                    </form>
        
                    <div class="card-action">
                        <span class="card-title white-text">New to Pixel+? Create a profile to begin</span>
                        <br>
                        <a href="/signup">
                            <button class="btn waves-effect waves-light indigo lighten-1 white-text" type="submit" name="action">
                                Sign Up! <i class="material-icons">add</i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- background --}}
<div style="position: absolute; top: 0%; margin-left: auto; margin-right: auto; left: 0; right: 0; z-index: -5; height: 80vh;">
    <div class="row" style="margin-bottom: 5%;">
        <div class="col s2 center-align">
            <i class="fas fa-square-full indigo-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full red-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full yellow-text lighten-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full light-green-text accent-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full indigo-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full red-text lighten-1"></i>
        </div>
    </div>

    <div class="row" style="margin-bottom: 5%;">
        <div class="col s2 center-align">
            <i class="fas fa-square-full light-green-text accent-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full indigo-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full red-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full yellow-text lighten-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full light-green-text accent-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full indigo-text lighten-1"></i>
        </div>

    </div>

    <div class="row" style="margin-bottom: 5%;">
        <div class="col s2 center-align">
            <i class="fas fa-square-full yellow-text lighten-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full light-green-text accent-2"></i>
        </div>
        
        <div class="col s2 center-align">
            <i class="fas fa-square-full indigo-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full red-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full yellow-text lighten-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full light-green-text accent-2"></i>
        </div>

    </div>

    <div class="row" style="margin-bottom: 5%;">
        <div class="col s2 center-align">
            <i class="fas fa-square-full red-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full yellow-text lighten-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full light-green-text accent-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full indigo-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full red-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full yellow-text lighten-2"></i>
        </div>

    </div>

    <div class="row" style="margin-bottom: 5%;">
        <div class="col s2 center-align">
            <i class="fas fa-square-full indigo-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full red-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full yellow-text lighten-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full light-green-text accent-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full indigo-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full red-text lighten-1"></i>
        </div>
    </div>

    <div class="row" style="margin-bottom: 5%;">
        <div class="col s2 center-align">
            <i class="fas fa-square-full light-green-text accent-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full indigo-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full red-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full yellow-text lighten-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full light-green-text accent-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full indigo-text lighten-1"></i>
        </div>

    </div>

    <div class="row" style="margin-bottom: 5%;">
        <div class="col s2 center-align">
            <i class="fas fa-square-full yellow-text lighten-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full light-green-text accent-2"></i>
        </div>
        
        <div class="col s2 center-align">
            <i class="fas fa-square-full indigo-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full red-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full yellow-text lighten-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full light-green-text accent-2"></i>
        </div>

    </div>

    <div class="row" style="margin-bottom: 5%;">
        <div class="col s2 center-align">
            <i class="fas fa-square-full red-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full yellow-text lighten-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full light-green-text accent-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full indigo-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full red-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full yellow-text lighten-2"></i>
        </div>

    </div>
</div>

{{!-- footer --}}
<footer class="page-footer">
    <div class="container">
        <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">Pixel+</h5>
            
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="https://github.com/MSauermilch/Project-2" target="_blank">GitHub Repository</a></li>
                <li><a class="grey-text text-lighten-3" href="https://github.com/rayfwu" target="_blank">Raymond Fwu</a></li>
                <li><a class="grey-text text-lighten-3" href="https://github.com/w-j-gannon" target="_blank">William Gannon</a></li>
                <li><a class="grey-text text-lighten-3" href="https://github.com/Sunny-Liao" target="_blank">Sunny Liao</a></li>
                <li><a class="grey-text text-lighten-3" href="https://github.com/MSauermilch" target="_blank">Matt Sours</a></li>
            </ul>
        </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        © 2019
        
        </div>
    </div>
</footer>