
{{!-- sign up card --}}
<div class="container" style="position: absolute; top: 5%; margin-left: auto; margin-right: auto; left: 0; right: 0; z-index: 1;">
    <div class="row">
        <div class="col s12 m6 l4 xl4">
            <div class="card orange lighten-2">
                <div class="card-content white-text">
                    <span class="card-title">Welcome to Pixel+</span>
                    <p class="white-text">Track all the aspects of your lifestyle in one place. See how they come together to affect your mood.</p>
                </div>

                <div class="card-content white-text">
                    <span class="card-title">Create your account</span>
                </div>
                <form action="" method="POST">
                    <div class="card-action">
                        <label for="firstName" class="white-text">First Name</label>
                        <input class="white-text" type="text" name="firstName">

                        <label for="lastName" class="white-text">Last Name</label>
                        <input class="white-text" type="text" name="lastName">

                        <label for="email" class="white-text">Email</label>
                        <input class="white-text" type="email" name="email">

                        <label for="password1" class="white-text">Password</label>
                        <input class="white-text" type="password" maxlength="20" name="password1">

                        <label for="password2" class="white-text">Re-enter your password</label>
                        <input class="white-text" type="password" maxlength="20" name="password2">
                        <br>
                        <button class="btn waves-effect waves-light indigo lighten-1" type="submit" name="action">
                            Create Your Account <i class="material-icons">add</i>
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

{{!-- background --}}
<div style="position: absolute; top: 0%; margin-left: auto; margin-right: auto; left: 0; right: 0; z-index: -5; height: 100vh;">
    <div class="row" style="margin-bottom: 5%;">
        <div class="col s2 center-align">
            <i class="fas fa-square-full indigo-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full red-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full yellow-text lighten-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full light-green-text accent-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full indigo-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full red-text lighten-1"></i>
        </div>
    </div>

    <div class="row" style="margin-bottom: 5%;">
        <div class="col s2 center-align">
            <i class="fas fa-square-full light-green-text accent-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full indigo-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full red-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full yellow-text lighten-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full light-green-text accent-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full indigo-text lighten-1"></i>
        </div>

    </div>

    <div class="row" style="margin-bottom: 5%;">
        <div class="col s2 center-align">
            <i class="fas fa-square-full yellow-text lighten-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full light-green-text accent-2"></i>
        </div>
        
        <div class="col s2 center-align">
            <i class="fas fa-square-full indigo-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full red-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full yellow-text lighten-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full light-green-text accent-2"></i>
        </div>

    </div>

    <div class="row" style="margin-bottom: 5%;">
        <div class="col s2 center-align">
            <i class="fas fa-square-full red-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full yellow-text lighten-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full light-green-text accent-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full indigo-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full red-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full yellow-text lighten-2"></i>
        </div>

    </div>

    <div class="row" style="margin-bottom: 5%;">
        <div class="col s2 center-align">
            <i class="fas fa-square-full indigo-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full red-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full yellow-text lighten-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full light-green-text accent-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full indigo-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full red-text lighten-1"></i>
        </div>
    </div>

    <div class="row" style="margin-bottom: 5%;">
        <div class="col s2 center-align">
            <i class="fas fa-square-full light-green-text accent-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full indigo-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full red-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full yellow-text lighten-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full light-green-text accent-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full indigo-text lighten-1"></i>
        </div>

    </div>

    <div class="row" style="margin-bottom: 5%;">
        <div class="col s2 center-align">
            <i class="fas fa-square-full yellow-text lighten-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full light-green-text accent-2"></i>
        </div>
        
        <div class="col s2 center-align">
            <i class="fas fa-square-full indigo-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full red-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full yellow-text lighten-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full light-green-text accent-2"></i>
        </div>

    </div>

    <div class="row" style="margin-bottom: 5%;">
        <div class="col s2 center-align">
            <i class="fas fa-square-full red-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full yellow-text lighten-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full light-green-text accent-2"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full indigo-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full red-text lighten-1"></i>
        </div>

        <div class="col s2 center-align">
            <i class="fas fa-square-full yellow-text lighten-2"></i>
        </div>

    </div>
    
</div>

{{!-- footer --}}
{{!-- <footer class="page-footer">
    <div class="container">
        <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">Pixel+</h5>
            
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="https://github.com/MSauermilch/Project-2" target="_blank">GitHub Repository</a></li>
                <li><a class="grey-text text-lighten-3" href="https://github.com/rayfwu" target="_blank">Raymond Fwu</a></li>
                <li><a class="grey-text text-lighten-3" href="https://github.com/w-j-gannon" target="_blank">William Gannon</a></li>
                <li><a class="grey-text text-lighten-3" href="https://github.com/Sunny-Liao" target="_blank">Sunny Liao</a></li>
                <li><a class="grey-text text-lighten-3" href="https://github.com/MSauermilch" target="_blank">Matt Sours</a></li>
            </ul>
        </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        © 2019
        
        </div>
    </div>
</footer> --}}