@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    height: 79px;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

#login {
    font-size: 20px;
}

.line {
    width: 100%;
    height: 1px;
    margin: 40px 0;
  }

  #sidebar {
      margin-top: 15px;
  }

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 550px;
    background: #7386D5;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}


#sidebar .sidebar-header {
    padding: 20px;
    background: #7386D5;
}

#sidebar ul.components {
    padding: 20px 0;

}


#sidebar ul li a {
    
    font-size: 1.1em;
    
}
#sidebar ul li a:hover {
    
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #7386D5;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}




/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

/* ---------------------------------------------------
    Floating Actions
----------------------------------------------------- */

.bigIcon {
    content: url(https://www.dinggly.com/wp-content/uploads/2017/02/performance-tracking-icon-500px.jpg);
}

.mood {
    content: url(https://cdn.dribbble.com/users/327034/screenshots/1072997/icon.png);
    height: 40px;
}

.coffee {
    content: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgcLP3es3g6qgu28vAqddqbSe12a_vQ1SB6kOVVo2uLgi1uVFm);
}

.drinks {
    content: url(https://t3.ftcdn.net/jpg/01/37/37/08/500_F_137370865_4ZSRkKnY0eSpTu7pxV4EgnYq1CavBpe6.jpg);
}

.sleep {
    content: url(http://icons.iconarchive.com/icons/sbstnblnd/plateau/512/Apps-sleep-icon.png)
}

/* ---------------------------------------------------
    Create Your Own List
----------------------------------------------------- */

#input_listName {
    text-align: center;
}

#btn_createList {
    padding: 1px 45px;;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

    .modal-backdrop {
        display:none;
    }

    .modal-open .modal {
        width: 300px;
        margin: 0 auto;
    }
}

.modal-title {
    text-align: left;
}


.cross-close {
    width: 40px;
    margin-left: 410px;
}

form {
    font-size: 30px;
}

#mood, #caffeine {
    font-size: 30px;
    padding-right: 25px;
}

.butt1 {
    background-color:#3f51b5 !important;
    margin-left: 78px !important;
}

.butt1, .butt2, .butt3, .butt4, .butt5 {
    height: 31px !important;
    width: 31px !important;
    cursor: pointer !important;
    border: none !important;
    outline: none !important;
    border: 2px solid transparent !important;
}

.butt2 {
    background-color:#f44336 !important;
}

.butt3 {
    background-color:#ff9800 !important;
}

.butt4 {
    background-color:#ffeb3b !important;
}

.butt5 {
    background-color:#8bc34a !important;
}

.butt1:hover {
    background-color:gray;
    color:white;
}

input.butt-active {
    border: 2px solid #000 !important;
}

.butt2:hover {
    background-color:gray;
    color:white;
}

.butt3:hover {
    background-color:gray;
    color:white;
}

.butt4:hover {
    background-color:gray;
    color:white;
}

.butt5:hover {
    background-color:gray;
    color:white;
}

textarea {
    width: 50px;
}

.modal-body form > div {
    display: flex;
    font-size: 20px;
    align-items: flex-end;
    justify-content: space-between;
}

.modal-body form input[type="text"] {
    width: 50% !important;
    text-align: center;
    font-size: 30px !important;
}